/*
Headline
Mobile*/
@media(max-width:400px){
  .about .left-side{
    padding:2rem 1rem;
  }

.text__glitch{
  font-size: 35px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: Uppercase;
}

}

@media(max-width:1000px){
section,.about {
  padding: 1rem;  
}
}

@media(max-width:600px){

  .headline {
    padding: 0 5rem 0 5rem;
    width: 100%;
  }

  .headline .container {
    width: 20rem;
    height: 20x;
    margin: auto;
    grid-auto-flow: dense;
    grid-template-rows: 240px 1fr;
    padding: 90px 10px;
    
  }

  .headline .top-headline h2{
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-size:15px;
  letter-spacing: 20px;
  }

  .headline .top-headline p{
    font-size: 10px;
    letter-spacing: 10px;
  }
  
}

@media(min-width:600px) and (max-width:1000px){

  .headline {
  padding: 0 5rem 0 5rem;
  width: 100%;
  }

  .headline .container {

  width: 20rem;
  height: 20x;
  margin: auto;
  grid-auto-flow: dense;
  grid-template-rows: 240px 1fr;
  padding: 90px 10px;
  }

  .headline .top-headline h2{
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size:50px;
    letter-spacing: 25px;  
  }

  .headline .top-headline p{
    font-size: 20px;
    letter-spacing: 10px;
  }
  
}


/*
About ME
Mobile*/

@media(max-width:1430px){

  .about .container{
    width: 100%;
    display: flex;
    flex-direction: column-reverse; 
  }
  .about .left-side{
    width: 100%;
  }

  .about .right-side{
    width: 100%;
    padding:auto;
  }

  .intro h4,.edu-title h6{
    font-weight:700;
    font-size: 30px;

  }
  .about p{
    font-size: 15px;
  }
  .edu h6{
    font-size: 14px;
  }

  .title span{
    font-size: 2.5rem;   
  }

  .naz-image img{
    height: 12rem;  
    margin: auto;
  }

  .social-media a{
    font-size:25px ;
    width:20px;
  }
}

/*Tablet*/
@media(min-width: 700px) and (max-width:1430px){


  .about .left-side{
    padding: 0 100px 0 100px;
  }

  .about p,span{
    font-size: 20px;
  }
  
  .edu h6{
    font-size: 15px;
  }

  .naz-image img{
    height: 20rem;  
  }

  .social-media a{
    font-size:35px ;
    width:30px;
  }
  
}

/*
Project Development
Mobile*/



@media(max-width:1400px) {

.testimonial .slide {
  flex-direction: column;
  height: 100%;
  width: 90%;
}
.slide .slide-vid {
  max-width:550px;
}

.slide-vid video{
  width: 300px;
  padding: 0 10px;
}

.slide .slide-text {
  font-size: 14px;
  padding: 0 10px; 
}

.project .title{
  width: 100%;
  text-align: center;
  padding-left: 0px;
}

}

@media(max-width: 400px){
  .slide .slide-text{
    text-align: start;
  }
  @media(min-height:600px) and (max-height:1000px){

    .project {
      padding: 4rem 0 3rem 0;  
      height: 40%;
    }
    .testimonial{
      margin-bottom: 5px;
    }
  
    .slide .slide-text {
      font-size:  20px;
    }
  
  }


}


@media(min-width: 400px) and (max-width:800px){
  .project .title{
    padding:120px 20px 0px 20px;

  }
  @media(min-height:600px) and (max-height:1000px){

    .project {
      padding: 1rem 0 3rem 0;  
      margin: -3rem 0 0rem 0;
    }
    .testimonial{
      margin-bottom: 5px;
    }
  
    .slide .slide-text {
      font-size:  20px;
    }
  
  }
}

/*Tablet*/
@media(min-width: 700px) and (max-width:1400px){

  .slide .slide-vid {
    max-width:550px;
  }
  
  .slide-vid video{
    width: 400px;
  }
  
  .slide .slide-text {

    padding: 0 150px; 
  
  }

  @media(min-height:900px) and (max-height:1300px){

    .project {
      padding: 1rem 0 3rem 0;  
      height: 40%;
    }
    .testimonial{
      margin-bottom: 5px;
    }
  
    .slide .slide-text {
      font-size:  30px;
    }
  
  }
}


/*
Skill
Mobile*/
@media  (max-width: 400px) {
  .wrapper .tab {
    height: 125px;
    width: 110px;
  }
  .skill-icon{
    padding-top: 0px;
  }
  .skill-icon img{
    height: 30px;
  }
  .skill-text{
    font-size: 13px;
  }
  .skill-text h4{
    padding: 0 6px; 
  }
  
  .skill-text  p{
    padding: 0 20px;
  }


}

@media  (max-width: 600px) {
  .skill-container{
    padding: 0 20px;
  }
  .skill-text p{
    font-size: 12px;
    text-wrap: wrap;
  }

  
}
@media (min-width: 600px) and (max-width: 1400px) {
  .skill-container{
    padding: 0 60px;
  }
}

  /*
  Photography
  Mobile*/
@media(max-width:1430px){

  .hobby   .title{
    padding: auto;
  }
  .title h4{
    text-align: center;
    margin: auto;
    font-size: 40px;
    letter-spacing: 7px;
      
    }
    
    .gallery img {
      width: 100px;
      height: 100px;
      padding: 0 2px;
    }

    .shadow{

      background: rgba(20, 20, 20, 0.559);
      backdrop-filter: blur(0);
    }
}

/*Tablet*/
@media (min-width: 700px) and (max-width:1430px){
 
    
    .gallery img {
      width: 250px;
      height: 250px;

    }

}

  

  